@charset "UTF-8";
.globalHomePage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 100%;
  margin: 0 auto;
}

#lineAboutMe, .lineProjects {
  border-bottom: 1px solid #cccccc;
  width: 85%;
  max-width: 2540px;
  height: 1px;
  padding: 60px 0;
  margin: 0px auto 120px auto;
}

#lineAboutMe {
  margin-top: 0;
  height: 0px;
  border-bottom: none;
  margin-bottom: 30px;
}

#Projects {
  position: relative;
  z-index: 1;
}

.scrollTop {
  padding: 25px;
  padding-top: 29px;
  font-size: 33px;
  width: 80px;
  margin: 160px auto -40px auto;
  background-color: #262626;
  border-radius: 15px;
  display: flex;
  flex-direction: column;
  align-items: center;
}
.scrollTop svg {
  margin-top: -24px;
}

@media (max-width: 750px) {
  #lineAboutMe, .lineProjects {
    padding: 50px 0;
    margin: 0 auto 80px auto;
  }
  #lineAboutMe {
    margin-top: 0;
    margin-bottom: 0;
  }
  .scrollTop {
    padding: 25px 0px 20px 0px;
    border-radius: 15px;
    font-size: 25px;
    margin: 160px auto -30px auto;
  }
  .scrollTop svg {
    margin-top: -18px;
  }
}
.globalProjectPage {
  width: 100%;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
}

.projectPageTitle {
  display: flex;
  align-items: center;
  width: 85%;
  max-width: 2000px;
  height: 500px;
  margin: 80px auto;
  gap: 100px;
}
.projectPageTitle .projectTitleGithub {
  display: flex;
  flex-direction: column;
  align-items: flex start;
  gap: 30px;
  margin-left: 6px;
  width: 100%;
  height: 100%;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 6px, rgba(0, 0, 0, 0.3) 0px 10px 15px 10px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 20px;
  padding: 38px;
}
.projectPageTitle .projectTitleGithub h2 {
  font-size: 65px;
}
.projectPageTitle .projectTitleGithub .subtitleProjectPage {
  font-size: 30px;
  color: #949494;
  margin-left: 3px;
}
.projectPageTitle .projectTitleGithub a {
  background-color: rgba(0, 0, 0, 0.3);
  border-radius: 20px;
  margin-top: 20px;
  width: 55%;
  height: 50px;
  padding: 8px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 30px;
  text-decoration: none;
}
.projectPageTitle .projectTitleGithub a:hover {
  background-color: #111;
}
.projectPageTitle .projectTitleGithub a p {
  color: #fff;
  font-size: 22px;
}
.projectPageTitle .projectTitleGithub a svg {
  height: 28px;
  color: #fff !important;
}
.projectPageTitle .projectTitleGithub .figmaLinkProject {
  margin-top: -10px;
  background-color: rgba(255, 114, 98, 0.65);
}
.projectPageTitle .projectTitleGithub .figmaLinkProject:hover {
  background-color: #ff7262;
}
.projectPageTitle .skillSection {
  font-size: 20px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 20px;
  height: 100%;
  width: 100%;
  padding: 50px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 20px;
}
.projectPageTitle .skillSection div {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 26px;
}
.projectPageTitle .skillSection h3 {
  font-size: 30px;
}

.descriptionProjectPage {
  width: 85%;
  max-width: 2000px;
  margin: 0 auto;
  font-size: 19px;
  text-align: justify;
  display: flex;
  flex-direction: column;
  gap: 25px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  border-radius: 20px;
  padding: 50px;
}
.descriptionProjectPage div {
  display: flex;
  align-items: center;
  gap: 15px;
  font-size: 26px;
}
.descriptionProjectPage h3 {
  font-size: 30px;
}

.globalPicturePageProject {
  width: 85%;
  max-width: 2000px;
  margin: 80px auto;
  display: flex;
  gap: 50px;
}
.globalPicturePageProject .totalDesktopPicture {
  display: flex;
  flex-direction: column;
  gap: 50px;
  width: 70%;
  cursor: pointer;
}
.globalPicturePageProject .totalMobilePicture {
  width: 30%;
  cursor: pointer;
}

.libraryProjects {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  position: relative;
}
.libraryProjects h3 {
  font-size: 30px;
  font-weight: 500;
  width: 80%;
  max-width: 1000px;
  text-align: center;
  padding: 20px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.libraryProjects h3 span {
  color: #ff5925;
  font-weight: 700;
}
.libraryProjects::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  background: linear-gradient(#FFE4C4, #FFF8DC, #FFE4C4, #FFF8DC, #FFE4C4);
  height: 80px;
  z-index: -1;
}

.containerAllCards {
  width: 100%;
  max-width: 1000px;
  margin: 60px 0px 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
}

@media (max-width: 1250px) {
  .projectPageTitle {
    flex-direction: column;
    height: 100%;
  }
}
@media (max-width: 1024px) {
  .globalPicturePageProject {
    flex-direction: column;
  }
  .globalPicturePageProject .totalDesktopPicture {
    width: 100%;
  }
  .globalPicturePageProject .totalMobilePicture {
    width: 100%;
  }
}
@media (max-width: 750px) {
  .projectPageTitle .projectTitleGithub h2 {
    font-size: 55px;
  }
  .projectPageTitle .projectTitleGithub .subtitleProjectPage {
    font-size: 25px;
  }
  .projectPageTitle .projectTitleGithub a {
    width: 70%;
  }
  .projectPageTitle .projectTitleGithub a p {
    font-size: 20px;
  }
  .projectPageTitle .projectTitleGithub a svg {
    height: 25px;
  }
  .projectPageTitle .skillSection {
    font-size: 19px;
    padding: 30px;
  }
  .projectPageTitle .skillSection h3 {
    font-size: 30px;
  }
  .descriptionProjectPage {
    font-size: 18px;
    padding: 30px;
  }
  .descriptionProjectPage h3 {
    font-size: 30px;
  }
  .containerAllCards {
    flex-direction: column;
    height: 380px;
    gap: 2px;
  }
}
@media (max-width: 480px) {
  .projectPageTitle .projectTitleGithub h2 {
    font-size: 45px;
  }
  .projectPageTitle .skillSection {
    padding: 20px;
  }
  .descriptionProjectPage {
    padding: 20px;
  }
}
.librarySelectPage {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 40px;
  position: relative;
  margin: 200px 0;
}
.librarySelectPage h3 {
  font-size: 30px;
  font-weight: 500;
  width: 80%;
  max-width: 1000px;
  text-align: center;
  padding: 15px;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
  z-index: 2;
}
.librarySelectPage h3 span {
  color: #ff5925;
  font-weight: 700;
}
.librarySelectPage::after {
  content: "";
  display: block;
  position: absolute;
  width: 100%;
  margin: 0 auto;
  left: 0;
  bottom: 0;
  background: linear-gradient(#FFE4C4, #FFF8DC, #FFE4C4, #FFF8DC, #FFE4C4);
  height: 80px;
  z-index: -1;
}

.containerAllCardsSelectPage {
  width: 100%;
  max-width: 1000px;
  margin: 60px 0px 30px 0px;
  display: flex;
  justify-content: center;
  align-items: center;
  grid-gap: 15px;
  z-index: 1;
}

@media (max-width: 1024px) {
  .librarySelectPage {
    margin: 50px 0;
  }
  .librarySelectPage h3 {
    font-size: 30px;
    width: 80%;
    max-width: none;
    margin-left: 0;
  }
}
@media (max-width: 750px) {
  .containerAllCardsSelectPage {
    flex-direction: column;
    gap: 2px;
  }
}
.resumeGlobal {
  width: 85%;
  margin: 80px auto;
  max-width: 1800px;
  padding: 30px;
  background-color: rgba(17, 17, 17, 0.08);
  border: 10px solid rgba(144, 197, 63, 0.8);
  border-radius: 30px;
}

.enteteCV {
  display: flex;
  align-items: center;
  border-bottom: 5px solid rgba(144, 197, 63, 0.8);
  padding: 40px;
  padding-bottom: 80px;
}
.enteteCV img {
  width: 250px;
  height: 250px;
  border-radius: 50% 50% 50% 50%/50% 50% 50% 50%;
  -o-object-fit: cover;
     object-fit: cover;
}

.infosGeneralesCV {
  width: 70%;
  display: flex;
  flex-direction: column;
  gap: 15px;
  margin-left: 10px;
}
.infosGeneralesCV h2 {
  font-size: 65px;
  margin-left: -10px;
}
.infosGeneralesCV h4 {
  font-size: 30px;
  color: #ff5925;
  padding-bottom: 10px;
}
.infosGeneralesCV div {
  display: flex;
  align-items: center;
  gap: 10px;
  font-size: 18px;
}
.infosGeneralesCV div svg {
  color: #90c53f;
}

.splitterCV {
  width: 85%;
  margin: 0 auto;
  display: flex;
  align-items: flex-start;
  padding-top: 30px;
}
.splitterCV h3 {
  font-size: 28px;
  padding: 50px 0px;
}
.splitterCV h3 svg {
  color: #ff5925;
  margin-right: 10px;
}

.leftSideCV {
  width: 58%;
}

.formationCV div {
  padding-bottom: 30px;
}
.formationCV div h4 {
  font-size: 20px;
}
.formationCV div h5 {
  font-size: 18px;
  font-weight: lighter;
}
.formationCV div p {
  font-size: 16px;
  color: #90c53f;
  font-weight: bolder;
  padding-top: 5px;
}
.formationCV div .dateFormationCV {
  width: 30%;
  color: #111;
  padding-top: 0;
  padding-bottom: 5px;
  border-bottom: 2px solid rgba(144, 197, 63, 0.8);
}

.plusCV h3 {
  padding-bottom: 30px;
}
.plusCV p {
  padding-bottom: 5px;
  font-size: 18px;
}

.rightSideCv {
  width: 42%;
}

.xpProCV {
  text-align: start;
}
.xpProCV figure {
  padding-bottom: 30px;
}
.xpProCV figure h4 {
  font-size: 20px;
  color: #ff5925;
}
.xpProCV figure p {
  font-size: 13px;
  padding-top: 5px;
  padding-left: 5px;
}
.xpProCV figure h5 {
  font-size: 18px;
  padding-top: 5px;
  padding-left: 5px;
}

.competencesCV h3 {
  padding-bottom: 40px;
}
.competencesCV .competencesContainerCV div {
  display: flex;
  align-items: center;
  gap: 20px;
  padding-bottom: 15px;
}
.competencesCV .competencesContainerCV div h4 {
  font-size: 18px;
  min-width: 100px;
}
.competencesCV .competencesContainerCV div p {
  font-size: 17px;
}

@media (max-width: 1040px) {
  .enteteCV {
    flex-direction: column-reverse;
    gap: 30px;
  }
  .enteteCV img {
    height: 200px;
    width: 200px;
  }
  .infosGeneralesCV {
    text-align: center;
    align-items: center;
  }
  .infosGeneralesCV h2 {
    font-size: 50px;
  }
  .infosGeneralesCV h4 {
    font-size: 25px;
  }
  .infosGeneralesCV div {
    font-size: 16px;
  }
  .splitterCV {
    gap: 40px;
    width: 95%;
  }
  .splitterCV h3 {
    font-size: 24px;
  }
  .formationCV div h4 {
    font-size: 18px;
  }
  .formationCV div h5 {
    font-size: 16px;
  }
  .formationCV div p {
    font-size: 14px;
  }
  .plusCV h3 {
    padding-bottom: 30px;
  }
  .plusCV p {
    font-size: 16px;
  }
  .xpProCV figure h4 {
    font-size: 18px;
  }
  .xpProCV figure h5 {
    font-size: 16px;
  }
  .competencesCV h3 {
    padding-bottom: 40px;
  }
  .competencesCV .competencesContainerCV div {
    padding-bottom: 12px;
  }
  .competencesCV .competencesContainerCV div h4 {
    font-size: 16px;
  }
  .competencesCV .competencesContainerCV div p {
    font-size: 15px;
  }
}
@media (max-width: 750px) {
  .enteteCV {
    padding: 20px;
    padding-bottom: 40px;
  }
  .enteteCV img {
    height: 180px;
    width: 180px;
  }
  .infosGeneralesCV {
    width: 100%;
  }
  .infosGeneralesCV h2 {
    font-size: 40px;
  }
  .infosGeneralesCV h4 {
    font-size: 20px;
  }
  .infosGeneralesCV div {
    font-size: 14px;
  }
  .splitterCV {
    flex-direction: column-reverse;
    align-items: center;
    width: 100%;
    padding-top: 10px;
  }
  .splitterCV h3 {
    font-size: 24px;
  }
  .formationCV {
    text-align: center;
  }
  .formationCV div h4 {
    font-size: 18px;
  }
  .formationCV div h5 {
    font-size: 16px;
  }
  .formationCV div p {
    font-size: 14px;
  }
  .formationCV div .dateFormationCV {
    margin: 0 auto;
  }
  .plusCV {
    text-align: center;
    padding-bottom: 30px;
  }
  .plusCV h3 {
    padding-bottom: 30px;
  }
  .plusCV p {
    font-size: 16px;
  }
  .xpProCV {
    text-align: center;
  }
  .xpProCV figure h4 {
    font-size: 18px;
  }
  .xpProCV figure h5 {
    font-size: 16px;
  }
  .competencesCV {
    text-align: center;
  }
  .competencesCV .competencesContainerCV div {
    flex-direction: column;
    gap: 0;
    padding-bottom: 20px;
  }
  .competencesCV .competencesContainerCV div h4 {
    font-size: 16px;
  }
  .competencesCV .competencesContainerCV div p {
    font-size: 15px;
  }
}
@media (max-width: 460px) {
  .enteteCV {
    padding: 10px;
    padding-bottom: 40px;
  }
  .enteteCV img {
    height: 150px;
    width: 150px;
  }
  .infosGeneralesCV h2 {
    font-size: 28px;
  }
  .infosGeneralesCV h4 {
    font-size: 18px;
  }
  .infosGeneralesCV div {
    font-size: 11px;
  }
  .splitterCV h3 {
    font-size: 20px;
  }
  .formationCV div h4 {
    font-size: 16px;
  }
  .formationCV div h5 {
    font-size: 15px;
  }
  .formationCV div p {
    font-size: 13px;
  }
  .plusCV p {
    font-size: 14px;
  }
  .xpProCV figure h4 {
    font-size: 15px;
  }
  .xpProCV figure h5 {
    font-size: 14px;
  }
  .xpProCV figure p {
    font-size: 11px;
  }
  .competencesCV .competencesContainerCV div p {
    font-size: 14px;
  }
}
.errorMessage {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 30px;
  margin: 200px 0;
}
.errorMessage h2 {
  font-size: 240px;
  color: #ff5925;
}
.errorMessage p {
  font-size: 40px;
}
.errorMessage .homeLink {
  font-size: 30px;
  color: #ff5925;
}

@media (max-width: 1024px) {
  .errorMessage h2 {
    font-size: 150px;
  }
  .errorMessage p {
    font-size: 30px;
  }
  .errorMessage .homeLink {
    font-size: 25px;
  }
}
@media (max-width: 750px) {
  .errorMessage h2 {
    font-size: 100px;
  }
  .errorMessage p {
    font-size: 18px;
  }
  .errorMessage .homeLink {
    font-size: 18px;
  }
}
#aboutMe {
  width: 70%;
  max-width: 1840px;
  margin: 0px auto 50px auto;
  display: flex;
  align-items: center;
}
#aboutMe img {
  border-radius: 86% 14% 55% 45%/41% 39% 61% 59%;
  height: 400px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
  border: 1px solid #fff;
}

.globalDescription {
  display: flex;
  flex-direction: column;
  justify-content: center;
  gap: 30px;
}
.globalDescription p {
  font-size: 20px;
  text-align: start;
  width: 80%;
}
.globalDescription p strong {
  font-size: 21px;
}
.globalDescription p a {
  color: #ff5925;
  font-weight: 700;
}

.aboutTitle {
  display: flex;
  align-items: center;
  gap: 30px;
  font-size: 50px;
  margin-bottom: 60px;
}
.aboutTitle svg {
  color: #ff5925;
}

@media (max-width: 1024px) {
  #aboutMe {
    width: 85%;
    flex-direction: column;
    justify-content: center;
    gap: 60px;
  }
  #aboutMe img {
    -o-object-fit: cover;
       object-fit: cover;
    height: 350px;
    border-radius: 30px;
  }
  .globalDescription {
    align-items: center;
    gap: 30px;
  }
  .globalDescription .aboutTitle {
    font-size: 40px;
    margin-bottom: 40px;
    margin-right: 20px;
  }
  .globalDescription p {
    font-size: 18px;
    text-align: justify;
  }
  .globalDescription p strong {
    font-size: 19px;
  }
}
@media (max-width: 750px) {
  #aboutMe {
    width: 95%;
    margin-bottom: 0px;
  }
  #aboutMe img {
    height: 250px;
  }
  .globalDescription .aboutTitle {
    font-size: 30px;
  }
  .globalDescription p {
    font-size: 16px;
  }
  .globalDescription p strong {
    font-size: 16px;
  }
}
.globalBanner {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 90vh;
  width: 100%;
  margin: 0 auto;
  position: relative;
}

.homePicture {
  width: 100%;
  height: 90vh;
  -o-object-fit: cover;
     object-fit: cover;
  -o-object-position: bottom left;
     object-position: bottom left;
  position: absolute;
  z-index: 1;
}

.containerPresentation {
  position: absolute;
  width: 100%;
  top: 0;
  height: 70vh;
  background: linear-gradient(rgba(255, 255, 255, 0.5), rgba(255, 255, 255, 0.05));
  z-index: 2;
  display: flex;
  justify-content: center;
  align-items: center;
}

.presentation {
  border-radius: 50px;
  min-width: 500px;
  font-size: 40px;
  font-weight: 700;
  position: absolute;
  z-index: 3;
  margin-top: 300px;
  margin-left: 300px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 5px;
}
.presentation h2 {
  margin-top: 20px;
  font-size: 40px;
  font-weight: 700;
}

.helloPresentation {
  color: #ff5925;
  font-size: 70px;
  font-weight: 700;
}

.typeWriterSentence {
  display: flex;
  align-items: center;
  gap: 15px;
}

.containerDiscoverButton {
  border: 4px solid #ff5925;
  background-color: #ff5925;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 20px;
  margin-top: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.discoverButton {
  padding: 20px;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 20px;
  letter-spacing: 1px;
  text-decoration: none;
  background: #fff;
  -webkit-mask: url("../../Assets/urban-sprite.png");
  mask: url("../../Assets/urban-sprite.png");
  -webkit-mask-size: 3000% 100%;
  mask-size: 3000% 100%;
  border: none;
  color: #ff5925;
  cursor: pointer;
  animation: ani 0.7s steps(29) forwards;
}
.discoverButton:hover {
  animation: ani2 0.7s steps(29) forwards;
}

.calqDiscoverButton {
  color: #fff;
  text-align: center;
  width: 100%;
  height: 100%;
  font-weight: 700;
  position: absolute;
  padding: 20px;
  font-size: 20px;
  letter-spacing: 1px;
  overflow: hidden;
}

@keyframes ani {
  from {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
  to {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
}
@keyframes ani2 {
  from {
    -webkit-mask-position: 100% 0;
    mask-position: 100% 0;
  }
  to {
    -webkit-mask-position: 0 0;
    mask-position: 0 0;
  }
}
.buttonLine {
  display: flex;
  place-items: center;
  justify-content: center;
  margin: 25px 0px 0px -20px;
}
.buttonLine button {
  background: rgba(0, 0, 0, 0.4);
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 3px, rgba(255, 255, 255, 0.07) 0px 0px 0px 6px, rgba(255, 255, 255, 0.05) 0px 0px 0px 9px, rgba(255, 255, 255, 0.03) 0px 0px 0px 12px, rgba(255, 255, 255, 0.01) 0px 0px 0px 15px;
}

.copiedDivDiscord {
  width: 100px;
  height: 100px;
  position: relative;
}

.copiedDivDiscord::before {
  content: "Pseudo Discord Copié";
  position: absolute;
  color: #fff;
  width: 210px;
  text-align: center;
  left: 120px;
  top: 37px;
  font-size: 17px;
  font-weight: 500;
  background-color: #90c53f;
  padding: 15px;
  border-radius: 10px;
  animation: softGrindOpacity 2.75s;
  border: #fff 1px solid;
}

@keyframes softGrindOpacity {
  0% {
    opacity: 0;
  }
  30% {
    opacity: 1;
  }
  70% {
    opacity: 1;
  }
  100% {
    opacity: 0;
  }
}
@media (min-width: 2500px) {
  .presentation {
    right: 35%;
  }
}
@media (max-width: 1024px) {
  .presentation {
    min-width: 500px;
    margin-left: 200px;
  }
  .copiedDivDiscord::before {
    width: 160px;
    left: -30px;
    top: 95px;
    font-size: 12px;
  }
}
@media (max-width: 750px) {
  .globalBanner {
    height: 82vh;
  }
  .homePicture {
    height: 82vh;
  }
  .containerPresentation {
    height: 60vh;
  }
  .presentation {
    font-size: 28px;
    min-width: 350px;
    margin-top: 200px;
    margin-left: 50px;
  }
  .presentation h2 {
    font-size: 28px;
  }
  .copiedDivDiscord {
    width: 90px;
    height: 90px;
  }
  .helloPresentation {
    font-size: 60px;
  }
  .discoverButton {
    font-size: 17px;
    padding: 18px;
  }
  .calqDiscoverButton {
    font-size: 17px;
    padding: 18px;
  }
  .typeWriterSentence {
    gap: 10px;
  }
}
@media (max-width: 480px) {
  .presentation {
    min-width: 300px;
    font-size: 24px;
    margin-top: 150px;
    margin-left: 35px;
  }
  .presentation h2 {
    font-size: 24px;
  }
  .helloPresentation {
    font-size: 50px;
  }
  .discoverButton {
    font-size: 16px;
  }
  .calqDiscoverButton {
    font-size: 16px;
  }
  .copiedDivDiscord {
    width: 70px;
    height: 70px;
  }
  .copiedDivDiscord::before {
    width: 160px;
    left: -90px;
    top: 80px;
    font-size: 12px;
  }
}
@media (max-width: 350px) {
  .presentation {
    min-width: 260px;
    font-size: 22px;
    margin-top: 100px;
    margin-left: 10px;
  }
  .presentation h2 {
    font-size: 22px;
  }
  .helloPresentation {
    font-size: 45px;
  }
  .discoverButton {
    font-size: 15px;
  }
  .calqDiscoverButton {
    font-size: 15px;
  }
}
.containerCard {
  position: relative;
  height: 550px;
  width: 100px;
  background-color: #fff;
  transition: all 0.5s ease-in-out;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
  border-radius: 10px;
}
.containerCard:hover {
  transform: scale(1.1);
}
.containerCard .backCard {
  position: absolute;
  right: 0;
  width: 100%;
  height: 200px;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 10px;
  filter: brightness(90%);
}
.containerCard .cardProjectTitle {
  position: absolute;
  font-size: 28px;
  font-weight: 700;
  bottom: 37px;
  transform: translate(-170px, -160px) rotate(-90deg);
  width: 400px;
}
.containerCard .cardProjectSubtitle {
  position: absolute;
  color: #949494;
  font-size: 20px;
  bottom: 0;
  width: 300px;
  transform: translate(-80px, -152px) rotate(-90deg);
  z-index: 10;
}

@media (max-width: 1024px) {
  .containerCard {
    height: 500px;
    width: 90px;
  }
  .containerCard .backCard {
    height: 200px;
  }
  .containerCard .cardProjectTitle {
    font-size: 26px;
    width: 400px;
    left: -5px;
  }
  .containerCard .cardProjectSubtitle {
    font-size: 17px;
    width: 300px;
    left: -10px;
  }
}
@media (max-width: 750px) {
  .containerCard {
    height: 80px;
    width: 500px;
  }
  .containerCard .backCard {
    width: 150px;
    height: 70px;
  }
  .containerCard .cardProjectTitle {
    left: 10px;
    bottom: 33px;
    transform: translate(0px, 0px) rotate(0deg);
    width: 300px;
  }
  .containerCard .cardProjectSubtitle {
    left: 10px;
    bottom: 10px;
    transform: translate(0px, 0px) rotate(0deg);
    width: 300px;
  }
}
@media (max-width: 550px) {
  .containerCard {
    width: 350px;
  }
  .containerCard .backCard {
    width: 100px;
  }
  .containerCard .cardProjectTitle {
    font-size: 20px;
  }
  .containerCard .cardProjectSubtitle {
    font-size: 16px;
  }
}
@media (max-width: 400px) {
  .containerCard {
    width: 280px;
  }
  .containerCard .backCard {
    width: 80px;
  }
  .containerCard .cardProjectTitle {
    font-size: 18px;
    width: 200px;
  }
  .containerCard .cardProjectSubtitle {
    font-size: 15px;
    width: 200px;
  }
}
.containerCollapse {
  width: 100%;
  border-radius: 30px;
  color: #fff;
  box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
}
.containerCollapse:hover {
  transform: scale(1.02);
  opacity: 1 !important;
}
.containerCollapse div {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 95%;
  margin: 0 auto;
}
.containerCollapse div svg {
  margin-right: 20px;
}
.containerCollapse h3 {
  border-radius: 30px;
  padding: 20px;
  text-align: center;
}
.containerCollapse .screenshotFullCollapse {
  width: 100%;
  -o-object-fit: cover;
     object-fit: cover;
  border-radius: 0px 0px 30px 30px;
}

.footer {
  color: #fff;
  background-color: #262626;
  box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
  padding: 100px 50px 50px 50px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  gap: 30px;
  position: relative;
  z-index: 0;
}
.footer button {
  background: transparent;
}
.footer a {
  color: #ff5925;
}

.emailLine {
  display: flex;
  justify-content: center;
  align-items: center;
  border-radius: 10px;
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 3px, rgba(255, 255, 255, 0.07) 0px 0px 0px 6px, rgba(255, 255, 255, 0.05) 0px 0px 0px 9px, rgba(255, 255, 255, 0.03) 0px 0px 0px 12px, rgba(255, 255, 255, 0.01) 0px 0px 0px 15px;
}
.emailLine p {
  font-size: 20px;
  font-weight: 600;
  border-radius: 10px 0px 0px 10px;
  border-right: none;
  padding: 10px 25px;
}

.classicButtonEmail {
  background-color: #ff5925 !important;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  font-size: 20px;
  border-radius: 0px 10px 10px 0px;
  border-left: none;
}

.copiedButtonEmail {
  position: relative;
  color: #fff;
  cursor: pointer;
  padding: 10px 15px;
  border: none;
  border-radius: 0px 10px 10px 0px;
  border-left: none;
  font-size: 20px;
  background-color: #90c53f !important;
}

.copiedButtonEmail::before {
  content: "Email Copié";
  position: absolute;
  color: #fff;
  width: 160px;
  left: 70px;
  bottom: 0;
  text-align: center;
  font-size: 17px;
  background-color: #90c53f;
  padding: 10px 15px;
  border-radius: 10px;
  border: 1px solid #fff;
}

.buttonLineFooter {
  display: flex;
  justify-content: center;
}
.buttonLineFooter button {
  box-shadow: rgba(255, 255, 255, 0.1) 0px 0px 0px 3px, rgba(255, 255, 255, 0.07) 0px 0px 0px 6px, rgba(255, 255, 255, 0.05) 0px 0px 0px 9px, rgba(255, 255, 255, 0.03) 0px 0px 0px 12px, rgba(255, 255, 255, 0.01) 0px 0px 0px 15px;
}

.disclaimerFooter p {
  font-size: 19px;
  text-align: center;
  font-style: italic;
}

@media (max-width: 1024px) {
  .disclaimerFooter {
    margin-top: 30px;
  }
}
@media (max-width: 750px) {
  .emailLine p {
    font-size: 14px;
  }
  .classicButtonEmail {
    font-size: 14px;
  }
  .copiedButtonEmail {
    font-size: 14px;
  }
  .copiedButtonEmail::before {
    width: 130px;
    bottom: 50px;
    left: -150px;
    font-size: 12px;
  }
  .disclaimerFooter {
    margin-top: 50px;
  }
  .disclaimerFooter p {
    font-size: 14px;
  }
}
.gravityButton {
  position: relative;
  font-size: 25px;
  display: grid;
  place-items: center;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.gravityButton .buttonIcon {
  position: absolute;
  border: none;
  font: inherit;
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translate(var(--tx, 0), var(--ty, 0));
  cursor: pointer;
  opacity: 1;
  transition: all 0.1s ease-out;
}
.gravityButton .buttonIcon:hover {
  background-color: #ff5925;
}
.gravityButton .buttonIconCheck {
  position: absolute;
  border: none;
  font: inherit;
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translate(var(--tx, 0), var(--ty, 0));
  cursor: pointer;
  opacity: 0;
  transition: all 0.1s ease-out;
}
.gravityButton .buttonIconCheck:hover {
  background-color: #ff5925;
}

.gravityCopied {
  position: relative;
  font-size: 25px;
  display: grid;
  place-items: center;
  width: 100px;
  aspect-ratio: 1;
  border-radius: 50%;
}
.gravityCopied .buttonIcon {
  position: absolute;
  border: none;
  font: inherit;
  width: 70px;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translate(var(--tx, 0), var(--ty, 0));
  cursor: pointer;
  transition: all 0.1s ease-out;
  opacity: 0;
}
.gravityCopied .buttonIcon:hover {
  background-color: #ff5925;
}
.gravityCopied .buttonIconCheck {
  position: absolute;
  border: none;
  background-color: #90c53f;
  font: inherit;
  width: 70px;
  opacity: 1;
  aspect-ratio: 1;
  border-radius: 50%;
  transform: translate(var(--tx, 0), var(--ty, 0));
  cursor: pointer;
  transition: all 0.1s ease-out;
}
.gravityCopied .buttonIconCheck:hover {
  background-color: #ff5925;
}

@media (max-width: 750px) {
  .gravityButton {
    width: 90px;
  }
  .gravityButton .buttonIcon {
    width: 60px;
    transform: translate(0);
  }
  .gravityButton .buttonIconCheck {
    width: 60px;
    transform: translate(0);
  }
  .gravityCopied {
    width: 90px;
  }
  .gravityCopied .buttonIcon {
    width: 60px;
    transform: translate(0);
  }
  .gravityCopied .buttonIconCheck {
    width: 60px;
    transform: translate(0);
  }
}
@media (max-width: 480px) {
  .gravityButton {
    width: 70px;
    font-size: 18px;
  }
  .gravityButton .buttonIcon, .gravityButton .buttonIconCheck {
    width: 50px;
  }
  .gravityCopied {
    width: 70px;
    font-size: 18px;
  }
  .gravityCopied .buttonIcon, .gravityCopied .buttonIconCheck {
    width: 50px;
  }
}
#header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: 0 auto;
  height: 10vh;
  padding: 25px 0;
  width: 85%;
  max-width: 2040px;
}

.logo {
  display: flex;
  align-items: baseline;
  gap: 10px;
  font-size: 22px;
  text-decoration: none;
}
.logo h1 {
  font-weight: 700;
  font-size: 27px;
  color: #111;
  letter-spacing: -0.5px;
  text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.35);
}

#header nav {
  display: flex;
  gap: 60px;
  font-size: 24px;
}

@media (max-width: 1024px) {
  #header nav {
    gap: 50px;
    font-size: 20px;
  }
}
@media (max-width: 750px) {
  #header {
    flex-direction: column;
    align-items: center;
    gap: 20px;
    width: 100%;
    height: 18vh;
    padding-top: 20px;
    padding-bottom: 0px;
  }
  #header .logo {
    font-size: 20px;
    gap: 20px;
  }
  #header .logo h1 {
    font-size: 25px;
  }
  #header nav {
    width: 100%;
    font-size: 18px;
    padding-right: 0;
    gap: 0;
  }
  #header nav a {
    width: 50%;
    padding: 15px;
    text-align: center;
    border-bottom: #949494 solid 3px;
  }
}
@media (max-width: 500px) {
  #header {
    padding-top: 30px;
    gap: 20px;
  }
  #header .logo {
    font-size: 18px;
  }
  #header .logo h1 {
    font-size: 22px;
  }
  #header nav {
    font-size: 16px;
  }
}
.globalProjectComponent {
  width: 100%;
  margin: auto;
}

.globalDescriptionProject {
  width: 75%;
  max-width: 1840px;
  margin: auto;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

.globalTitlePartProject {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.fontAwesomeTitleProject {
  font-size: 30px;
}

.titlePartProject {
  display: flex;
  align-items: center;
  gap: 30px;
  min-width: 330px;
}
.titlePartProject h3 {
  font-size: 40px;
}

.subtitlePartProject {
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 60px;
}
.subtitlePartProject p {
  font-size: 20px;
  color: #949494;
}
.subtitlePartProject svg {
  font-size: 32px;
}
.subtitlePartProject svg:hover {
  color: #ff5925 !important;
}

.rightsideDescriptionProject {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.rightsideDescriptionProject p {
  font-size: 22px;
  text-align: justify;
}

.projectRedirectionHome {
  display: flex;
  flex-direction: column;
  gap: 10px;
}

.projectView {
  display: flex;
  align-items: center;
  gap: 10px;
  text-decoration: none;
  font-size: 25px;
}
.projectView p {
  color: #111;
}

.picturePartProject {
  width: 75%;
  max-width: 1000px;
  margin: 0px auto;
  position: relative;
  margin-top: 60px;
  height: 500px;
}

.pictureDesktop {
  position: absolute;
  z-index: 1;
  -o-object-fit: cover;
     object-fit: cover;
  width: 80%;
  min-width: 730px;
  max-width: 850px;
  height: 500px;
  border: 8px solid #111;
  border-bottom: 20px solid #111;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}

.pictureMobile {
  position: absolute;
  top: 130px;
  right: 3%;
  z-index: 2;
  -o-object-fit: cover;
     object-fit: cover;
  height: 400px;
  width: 210px;
  border: 6px solid #111;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}

@media (max-width: 1024px) {
  .globalDescriptionProject {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  }
  .pictureDesktop {
    min-width: 0px;
    width: 580px;
    height: 400px;
  }
  .pictureMobile {
    right: -20px;
  }
  .subtitlePartProject {
    margin-left: 60px;
  }
  .rightsideDescriptionProject {
    margin-left: 60px;
  }
}
@media (max-width: 750px) {
  .globalDescriptionProject {
    width: 80%;
    align-items: center;
    gap: 25px;
  }
  .globalTitlePartProject {
    gap: 5px;
  }
  .fontAwesomeTitleProject {
    font-size: 25px;
  }
  .titlePartProject {
    min-width: 0;
    align-items: center;
    flex-direction: column;
    gap: 10px;
  }
  .titlePartProject h3 {
    font-size: 35px;
    text-align: center;
  }
  .subtitlePartProject {
    margin-left: 0px;
    flex-direction: column;
    gap: 25px;
  }
  .rightsideDescriptionProject {
    align-items: center;
    margin-left: 0px;
    gap: 20px;
  }
  .rightsideDescriptionProject p {
    font-size: 18px;
    text-align: center;
  }
  .pictureDesktop {
    min-width: 0px;
    width: 420px;
    height: 330px;
    top: -20px;
  }
  .pictureMobile {
    height: 350px;
    width: 190px;
    top: 40px;
  }
  .picturePartProject {
    height: 380px;
  }
}
@media (max-width: 500px) {
  .pictureDesktop {
    display: none;
  }
  .pictureMobile {
    position: static;
    height: 400px;
    width: 210px;
  }
  .picturePartProject {
    position: static;
    display: flex;
    align-items: center;
    flex-direction: column;
    width: 80%;
    margin: 30px auto;
    height: 330px;
  }
}
html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

*, *::before, *::after {
  font-family: Arial, Helvetica, sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}/*# sourceMappingURL=style.css.map */