@import '../../Scss/mixins';
@import '../../Scss/variables';
@import '../../Scss/placeholders';

.globalHomePage{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 100%;
    margin: 0 auto ;
  }
  
  
  #lineAboutMe, .lineProjects {
    border-bottom: 1px solid $softgrey;
    width: 85%;
    max-width: 2540px;
    height: 1px;
    padding : 60px 0;
    margin: 0px auto 120px auto;
    }
  
  
  #lineAboutMe {
    margin-top: 0;
    height: 0px;
    border-bottom: none;
    margin-bottom: 30px;
  }

  #Projects{
    position: relative;
    z-index: 1;
  }

  .scrollTop {
    padding: 25px;
    padding-top: 29px;
    font-size: 33px;
    width: 80px;
    margin: 160px auto -40px auto;
    
    background-color: #262626;
    border-radius: 15px;
    
    
    display: flex;
    flex-direction: column;
    align-items: center;

    svg{
        margin-top: -24px;
    }
}





  @media (max-width: 750px) { 
    #lineAboutMe, .lineProjects {
     padding: 50px 0;
     margin: 0 auto 80px auto;
    }

    #lineAboutMe {
      margin-top: 0;
      margin-bottom: 0;
    }

    .scrollTop {
     padding: 25px 0px 20px 0px;
      border-radius: 15px;
      font-size: 25px;
      margin: 160px auto -30px auto;
  
      svg{
          margin-top: -18px;
      }
  }
  }
  