@import '../../Scss/mixins';
@import '../../Scss/variables';
@import '../../Scss/placeholders';


.globalProjectComponent {
    width: 100%;
    margin: auto;
  }



.globalDescriptionProject {
  width: 75%;
  max-width: 1840px;
  margin: auto;

  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  gap: 100px;
}

.globalTitlePartProject {
  display: flex;
  flex-direction: column;
  gap: 30px;
}

.fontAwesomeTitleProject {
  font-size: 30px;
}

.titlePartProject {
 display: flex;
 align-items: center;
  gap: 30px;
  min-width: 330px;

  h3 {
    font-size: 40px;
  }

}

.subtitlePartProject{
  display: flex;
  align-items: center;
  gap: 30px;
  margin-left: 60px;


p{
  font-size: 20px;
  color: $mediumgrey;
}


svg {
  font-size: 32px;

  &:hover{
    color: $terracota !important;
  }
  
}

}


.rightsideDescriptionProject {
  max-width: 600px;
  display: flex;
  flex-direction: column;
  gap: 30px;


  
  p{
    font-size: 22px;
    text-align: justify;
  };
}


.projectRedirectionHome{
  display: flex;
 flex-direction: column;
  gap: 10px;
}


.projectView {
  display: flex;
  align-items: center;
  gap: 10px;

  text-decoration: none;
  font-size: 25px;
  p{
    color: #111;
  }
}

.picturePartProject {
  width: 75%;
  max-width: 1000px;
  margin: 0px auto;
  position: relative;
  margin-top: 60px;
  height: 500px;
}

.pictureDesktop {
  position: absolute;
  z-index: 1;

  object-fit: cover;
  width: 80%;
  min-width: 730px;
  max-width: 850px;
  height: 500px;

  border: 8px solid #111;
  border-bottom: 20px solid #111;
  border-radius: 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}

.pictureMobile {
  position: absolute;
  top: 130px;
  right: 3%;
  z-index: 2;

  object-fit: cover;
  height: 400px;
  width: 210px;

  border: 6px solid #111;
  border-radius: 30px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 10px 15px;
}





//Media Queries

@media (max-width: 1024px) {

  .globalDescriptionProject {
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    gap: 40px;
  }

  .pictureDesktop {
    min-width: 0px;
    width: 580px;
    height: 400px;
    
  }
  .pictureMobile {
    right: -20px;
  }

  .subtitlePartProject{
    margin-left: 60px;

  }

  .rightsideDescriptionProject {

    margin-left: 60px;

  }


  
 }



 @media (max-width: 750px) {

  .globalDescriptionProject{
    width: 80%;
    align-items: center;
    gap: 25px;
  }

  .globalTitlePartProject{
    gap: 5px;
  }
  
  .fontAwesomeTitleProject {
    font-size: 25px;
  }

  
  
  .titlePartProject {
    min-width: 0;
    align-items: center;
    flex-direction: column;
    gap: 10px;

    h3 {
      font-size: 35px;
      text-align: center;
    }

  
  
    }

    .subtitlePartProject{
      margin-left: 0px;
     flex-direction: column;
     gap: 25px;
    }
  
    .rightsideDescriptionProject {
      align-items: center;
      margin-left: 0px;
      gap: 20px;

      p{
        font-size: 18px;
        text-align: center
      };
  
    }

    .pictureDesktop {
      min-width: 0px;
      width: 420px;
      height: 330px;
      top: -20px;
    }

    .pictureMobile {
      height: 350px;
      width: 190px;
      top: 40px;
    }

    .picturePartProject {
      height: 380px;
    }

  }
    
    
  

  
  





@media (max-width: 500px) {

  .pictureDesktop {
   display: none;
  }

  .pictureMobile {
    position: static;
    height: 400px;
    width: 210px;
 }

 .picturePartProject {
  position: static;
  display: flex;
  align-items: center;
  flex-direction: column;
  width: 80%;
  margin: 30px auto;
  height: 330px;
}
}



