@import '../../Scss/mixins';
@import '../../Scss/variables';



.containerCard{
    position: relative;
    height: 550px;
    width: 100px;
    background-color: #fff;
    transition:  all 0.5s ease-in-out;
    box-shadow: rgba(0, 0, 0, 0.4) 0px 30px 90px;
    border-radius: 10px;

    &:hover{
    transform: scale(1.1);
    }



    .backCard{
        position: absolute;
        right: 0;
        width: 100%;
        height: 200px;
        object-fit: cover;
        border-radius: 10px;
        filter: brightness(90%);
    }

    .cardProjectTitle {
        position: absolute;
        font-size: 28px;
        font-weight: 700;
        bottom: 37px;
        transform: translate(-170px, -160px) rotate(-90deg);
        width: 400px;
    }

    .cardProjectSubtitle {
        position: absolute;
        color: $mediumgrey;
        font-size: 20px;
        bottom: 0;
        width: 300px;
        transform: translate(-80px, -152px) rotate(-90deg);
        z-index: 10;
    }
}



@media (max-width: 1024px) { 

    .containerCard{
        height: 500px;
        width: 90px;
    
    
    
        .backCard{
            height: 200px;
        }
    
        .cardProjectTitle {
            font-size: 26px;
            width: 400px;
            left : -5px;
        }
    
        .cardProjectSubtitle {
            font-size: 17px;           
            width: 300px;
            left : -10px;
        }
    }
}


@media (max-width: 750px) {


    .containerCard{
        height: 80px;
        width: 500px;

        .backCard{
            width: 150px;
            height: 70px;         
        }
    
        .cardProjectTitle {
            left: 10px;
            bottom: 33px;
            transform: translate(0px, 0px) rotate(0deg);
            width: 300px;
           
        }
    
    
        .cardProjectSubtitle {
            left: 10px;
            bottom: 10px;
            transform: translate(0px, 0px) rotate(0deg);
            width: 300px;
        }
    }

}

@media (max-width: 550px) { 
 
    .containerCard{
        width: 350px;

        .backCard{
            width: 100px;  
        }
    
        .cardProjectTitle {
            font-size: 20px;       
        }
    
    
        .cardProjectSubtitle {
            font-size: 16px;   
        }
    }

     

}

@media (max-width: 400px) { 
 
    .containerCard{
        width: 280px;

        .backCard{
            width: 80px;  
        }
    
        .cardProjectTitle {
            font-size: 18px;
            width: 200px;       
        }
    
    
        .cardProjectSubtitle {
            font-size: 15px;   
            width: 200px;
        }
    }

     

}

