@import '../../Scss/mixins';
@import '../../Scss/variables';
@import '../../Scss/placeholders';



#Home{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 6%;
    width: 85%;
    margin: 0 auto;
  }
  

  
//Figure Colorée
  
    .conteneurBandes{
      display: flex;
      align-items: flex-start;
      gap: 20px;
    }
  
    .splitterBande1, .splitterBande2 {
      display: flex;
    }
  
  
    .bandeGrise{
      width: 50px;
      height: 400px;
      background-color:$softgrey;
      border-radius: 10px 0px 0px 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
    }
  
    .bandeViolette{
      width: 50px;
      height: 500px;
      background-color: $darkpurple;
      border-radius: 0px 0px 10px 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  
    .bandeJaune{
      width: 50px;
      height: 350px;
      background-color:  $yellowjs;
      border-radius: 0px 10px 10px 0px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  
  
    .bandeBleue{
      width: 50px;
      height: 450px;
      background-color: $bluereact;
      border-radius: 10px 0px 10px 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  
    .bandeVerte{
      width: 50px;
      height: 200px;
      background-color: $greennode;
      border-radius: 0px 10px 10px 0px;
      box-shadow: rgba(0, 0, 0, 0.35) 5px 0px 15px;
    }
  
  
    //Presentation
  
    .presentation{
      min-width: 500px;
      margin-top: 20px;
      font-size: 40px;
      font-weight: 700;
    
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;
      p{
        margin-left: 20px;
      }
    }
  
    .helloPresentation {
      color: $terracota;
      font-size: 70px;
      font-weight: bold; 
      margin-left: 20px;
    }
  
    h2{
      margin-top: 20px;
      font-size: 40px;
      font-weight: 700;
      margin-left: 20px;
    }
  
  
    .typeWriterSentence {
      display: flex;
      align-items: center;
      gap: 15px;
      
    }
  
  

    .containerBoutonDecouvrir {
  border: 4px solid $terracota;
  background-color: $terracota;
 position: relative;
 overflow: hidden;
 transition: 0.5s;
 letter-spacing: 1px;
 border-radius: 20px;
margin: 30px 0px 0px 20px;
 box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.boutonDecouvrir {
  padding : 20px;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;

    @include boutonDecouvrirMixin(#fff, "https://raw.githubusercontent.com/robin-dela/css-mask-animation/master/img/urban-sprite.png",
  3000%,
  100%,
  none,
  $terracota);
  cursor: pointer;
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;

  &:hover {
   -webkit-animation: ani2 0.7s steps(29) forwards;
   animation: ani2 0.7s steps(29) forwards;
  }
    }


  .calqueBoutonDecouvrir {
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    font-weight: 700;
    position: absolute;
    padding : 20px;
    font-size: 18px;
    letter-spacing: 1px;
    overflow: hidden;
}

@keyframes ani {
 from {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
 }

 to {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
 }
}

@-webkit-keyframes ani {
 from {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
 }

 to {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
 }
}

@keyframes ani2 {
 from {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
 }

 to {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
 }
}

@-webkit-keyframes ani2 {
 from {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
 }

 to {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
 }
}





.buttonLine {
      display: flex;
      place-items: center;
      justify-content: center;
      margin: 25px 0px 0px 5px;

      button{
        background: $softgrey;
      }
}
  
  
  

  