@import '../../Scss/mixins';
@import '../../Scss/variables';
@import '../../Scss/placeholders';



#Home{
    display: flex;
    justify-content: center;
    gap: 6%;
    width: 85%;
    margin: auto;
  }
  

  
//Figure Colorée
  
    .conteneurBandes{
      display: flex;
      align-items: flex-start;
      gap: 20px;
    }
  
    .splitterBande1, .splitterBande2 {
      display: flex;
    }
  
  
    .bandeGrise{
      width: 50px;
      height: 400px;
      border : 23px solid $softgrey;
      border-radius: 10px 0px 0px 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 5px 5px 15px;
    }
  
    .bandeViolette{
      width: 50px;
      height: 500px;
      border : 25px solid $darkpurple;
      border-radius: 0px 0px 10px 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  
    .bandeJaune{
      width: 50px;
      height: 350px;
      border : 23px solid  $yellowjs;
      border-radius: 0px 10px 10px 0px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  
  
    .bandeBleue{
      width: 50px;
      height: 450px;
      border : 25px solid  $bluereact;
      border-radius: 10px 0px 10px 10px;
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }
  
    .bandeVerte{
      width: 50px;
      height: 200px;
      border : 23px solid  $greennode;
      border-radius: 0px 10px 10px 0px;
      box-shadow: rgba(0, 0, 0, 0.35) 5px 0px 15px;
    }
  
  
    //Presentation
  
    .presentation{
      margin-top: 30px;
      font-size: 40px;
      font-weight: 700;
      width: 45%;
      
  
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 4px;
      p{
        margin-left: 20px;
      }
    }
  
    .helloPresentation {
      color: $terracota;
      font-size: 70px;
      font-weight: bold; 
      margin-left: 20px;
    }
  
    h2{
      margin-top: 20px;
      font-size: 40px;
      font-weight: 700;
      margin-left: 20px;
    }
  
  
    .typeWriterSentence {
      display: flex;
      align-items: center;
      gap: 15px;
      
    }
  
  
  
    .boutonDecouvrir {
      color: #ffffff;
      font-size: 15px;
      text-decoration: none;
      margin: 30px 0px 0px 20px;
      padding: 20px;
  
      background-color: rgba(255, 89, 37, 0.95);
      border-radius: 20px;
  
      box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
    }

    .buttonLine {
      display: flex;
      place-items: center;
      justify-content: center;
      margin: 25px 0px 0px 5px;

      button{
        background: $softgrey;
      }
    }
  
  
  

  