@import '../../Scss/mixins';
@import '../../Scss/variables';
@import '../../Scss/placeholders';


#header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: auto;
    margin-bottom: 150px;
    width: 85%;
  }
  
  .logo{
    display: flex;
    align-items: baseline;
    gap: 10px;
    font-size: 20px;
    h1{
      font-weight: 700;
      font-size: 25px;
      letter-spacing: -0.5px;
      text-shadow: 2px 2px 12px rgba(0, 0, 0, 0.35);
    } 
  }
  
  #header nav{
    display: flex;
    gap: 60px;
    padding-right: 50px;
    a{
      color: #111;
      text-decoration: none;
      font-size: 20px;
      font-weight: 500;
    }
    .activeLink{
      color: $terracota;
      font-weight: bold;
      font-size: 20px;
      cursor: pointer;
    }
  }