@import '../../Scss/mixins';
@import '../../Scss/variables';
@import '../../Scss/placeholders';


.footer{
    color: #fff;
    background-color:  rgba(0,0,0, 0.85);
    padding: 100px 50px 50px 50px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    button{
        background: transparent;
    }

    a {
        color : $terracota;
    }

}

.scrollTop {
    margin-bottom: 30px;
    font-size: 18px;
}






// Pour la classe copiedDivDiscord sur le bouton Discord, vous pouvez la retrouver sur _banner.scss


.emailLine{
    display: flex;
    justify-content: center;
    align-items: center;
    p{
        font-size: 20px;
        font-weight: 600;
        border-radius: 10px 0px 0px 10px;
        border: 3px solid #fff;
        border-right: none;
        padding: 10px 25px;
    }
}

.classicButtonEmail {
    background-color: $terracota !important;
    
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
    border: 3px solid #fff;
    border-left: none;
}

.copiedButtonEmail {
    position: relative;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    border: 3px solid #fff;
    border-left: none;
    font-size: 20px;
    background-color: $greennode !important;

}


.copiedButtonEmail::before {
    content: 'Email Copié';
    position: absolute;
    color: #fff;
    width: 160px;
    left: 70px;
    bottom: 0;
    text-align: center;
    font-size: 17px;
    background-color: $greennode;
    padding: 10px 15px;
    border-radius: 10px;
    border: 3px solid #fff;

  }

  .buttonLineFooter{
    display: flex;
    justify-content: center;
    
}





.disclaimerFooter {
    p{
        font-size: 19px;
        text-align: center;
        font-style: italic;
    }
}


@media (max-width: 750px) { 

    .emailLine{
   
        p{
            font-size: 14px;
        }
    }

    .classicButtonEmail {
        font-size: 14px;
    }
    
    .copiedButtonEmail {
        font-size: 14px;  
    }
    
    
    .copiedButtonEmail::before {
        width: 130px;
        bottom: 50px;
        left: -150px;
        font-size: 12px;
      }



    .disclaimerFooter {
        margin-top: 30px;
        p{
            font-size: 14px;
        }
    }
}