@import '../../Scss/mixins';
@import '../../Scss/variables';


.footer{
    color: #fff;
    background-color:  #262626;
    box-shadow: rgba(14, 30, 37, 0.12) 0px 2px 4px 0px, rgba(14, 30, 37, 0.32) 0px 2px 16px 0px;
    padding: 100px 50px 50px 50px;


    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 30px;

    position: relative;
    z-index: 0;

    button{
        background: transparent;
    }

    a {
        color : $terracota;
    }

}






// Pour la classe copiedDivDiscord sur le bouton Discord, vous pouvez la retrouver sur _banner.scss


.emailLine{
    display: flex;
    justify-content: center;
    align-items: center;
    border-radius: 10px;
    box-shadow: rgba($color: #fff, $alpha: 0.1) 0px 0px 0px 3px, rgba($color: #fff, $alpha: 0.07) 0px 0px 0px 6px, rgba($color: #fff, $alpha: 0.05) 0px 0px 0px 9px, rgba($color: #fff, $alpha: 0.03) 0px 0px 0px 12px, rgba($color: #fff, $alpha: 0.01) 0px 0px 0px 15px;
    p{
        font-size: 20px;
        font-weight: 600;
        border-radius: 10px 0px 0px 10px;
        border-right: none;
        padding: 10px 25px;
    }
}

.classicButtonEmail {
    background-color: $terracota !important;
    
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    font-size: 20px;
    border-radius: 0px 10px 10px 0px;
    border-left: none;
}

.copiedButtonEmail {
    position: relative;
    color: #fff;
    cursor: pointer;
    padding: 10px 15px;
    border: none;
    border-radius: 0px 10px 10px 0px;
    border-left: none;
    font-size: 20px;
    background-color: $greennode !important;
}


.copiedButtonEmail::before {
    content: 'Email Copié';
    position: absolute;
    color: #fff;
    width: 160px;
    left: 70px;
    bottom: 0;
    text-align: center;
    font-size: 17px;
    background-color: $greennode;
    padding: 10px 15px;
    border-radius: 10px;
    border: 1px solid #fff;
  }

  .buttonLineFooter{
    display: flex;
    justify-content: center;

    button{
        box-shadow: rgba($color: #fff, $alpha: 0.1) 0px 0px 0px 3px, rgba($color: #fff, $alpha: 0.07) 0px 0px 0px 6px, rgba($color: #fff, $alpha: 0.05) 0px 0px 0px 9px, rgba($color: #fff, $alpha: 0.03) 0px 0px 0px 12px, rgba($color: #fff, $alpha: 0.01) 0px 0px 0px 15px;
    }
    
}





.disclaimerFooter {
    p{
        font-size: 19px;
        text-align: center;
        font-style: italic;
    }

}

@media (max-width: 1024px) { 
    .disclaimerFooter {
    margin-top: 30px;
    }
}


@media (max-width: 750px) { 

    .emailLine{
   
        p{
            font-size: 14px;
        }
    }

    .classicButtonEmail {
        font-size: 14px;
    }
    
    .copiedButtonEmail {
        font-size: 14px;  
    }
    
    
    .copiedButtonEmail::before {
        width: 130px;
        bottom: 50px;
        left: -150px;
        font-size: 12px;
      }



    .disclaimerFooter {

        margin-top: 50px;
    
        p{
            font-size: 14px;
        }
    }
}