@import '../Pages/Home/home';
@import '../Pages/projectPage/projectPage';

@import '../Components/AboutMe/aboutMe';
@import '../Components/Banner/banner';
@import '../Components/Card/card';
@import '../Components/Collapse/collapse';
@import '../Components/Footer/footer';
@import '../Components/gravityButton/gravityButton';
@import '../Components/Header/header';
@import '../Components/Project/project';



@import './mixins';
@import './variables';
@import './placeholders';

html {
  --scroll-behavior: smooth;
  scroll-behavior: smooth;
}

*{
  font-family: Arial, Helvetica, sans-serif;
  box-sizing: border-box;
}



 








