@import '../../Scss/mixins';
@import '../../Scss/variables';
@import '../../Scss/placeholders';

.globalProjectPage{
    width: 100%;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }




.projectPageTitle {

    display: flex;
    align-items: center;
    width: 85%;
    max-width: 2000px;
    height: 400px;
    margin: 80px auto;
    gap: 100px;
    

    .projectTitleGithub {


        display: flex;
        flex-direction: column;
        align-items: flex start;
        gap: 30px;
        margin-left: 6px;
        width: 100%;
        height: 100%;

        box-shadow: rgba(0, 0, 0, 0.4) 0px 4px 6px, rgba(0, 0, 0, 0.3) 0px 10px 15px 10px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;

        border-radius: 20px;
        padding: 38px;

        h2{
            font-size: 65px;
        }

        .subtitleProjectPage{
            font-size: 30px;
            color: $mediumgrey;
            margin-left : 3px;
        }


       a {
        background-color: rgba(0, 0, 0, 0.30);
        border-radius: 20px;
        margin-top: 20px;
        width: 55%;
        height: 50px;

        display: flex;
        align-items: center;
        justify-content: center;
        gap: 30px;
        text-decoration: none;

        &:hover {
            background-color: #111;
            
        }


        p{
            color: #fff;
            font-size: 22px;
        }

        svg {
            height: 28px;
            color: #fff !important;
        }
       }

       .figmaLinkProject{
        margin-top: -10px;
        background-color: rgba($color: #ff7262, $alpha: 0.65);

        &:hover{
            background-color: rgba($color: #ff7262, $alpha: 1);

        }
        
    }
        
    }

    

    .skillSection{

        h3{
            font-size: 30px;
        }
        font-size: 18px;
        text-align: justify;

        display: flex;
        flex-direction: column;
        justify-content: center;
        gap: 20px;

        height: 100%;
        width: 100%;
        padding: 50px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        border-radius: 20px;
    }

    }

    @media (max-width: 1250px) { 
        .projectPageTitle {
            flex-direction: column;
            height: 100%;
        }
       }

    .descriptionProjectPage{
        width: 85%;
        max-width: 2000px;
        margin: 0 auto;
        font-size: 20px;
        text-align: justify;

        display: flex;
        flex-direction: column;
        gap: 25px;
        box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
        border-radius: 20px;
        padding: 70px;

        h3 {
            font-size: 30px;
        }
    }



    
    .globalPicturePageProject{
        width: 85%;
        max-width: 2000px;
        margin:  80px auto;
        display: flex;
        gap: 50px;


        .totalDesktopPicture{
            display: flex;
            flex-direction: column;
            gap: 50px;
            width: 70%;
            cursor: pointer;
        }

        .totalMobilePicture{
            width: 30%;
            cursor: pointer;       
        }

    }


    .libraryProjects {

        display: flex;
        justify-content: center;
        align-items: center;
        position: relative;

        h3 {
            font-size: 30px;
            font-weight: 500;
            width: 35%;
            max-width: 450px;
            margin-left: 100px;
            text-align: center;
            padding: 20px;
            border-radius: 20px;
            box-shadow: rgba(0, 0, 0, 0.4) 0px 2px 4px, rgba(0, 0, 0, 0.3) 0px 7px 13px -3px, rgba(0, 0, 0, 0.2) 0px -3px 0px inset;
            span {
                color: $terracota;
                font-weight: 700;
            }
        }

        &::after {
            content: '';
            display: block;
            position: absolute;
            width: 100%;
            margin: 0 auto;
            left: 0;
            bottom: 0;
            background: linear-gradient( #FFE4C4, #FFF8DC, #FFE4C4, #FFF8DC, #FFE4C4)	;
            height: 80px;
            z-index: -1;
        }

    }

    .containerAllCards {
        width: 65%;
        max-width: 1000px;
        margin: 60px 0px 30px 0px;
        display: flex;
        justify-content: center;
        align-items: center;
        grid-gap : 15px;
        }





   

   