@import '../../Scss/mixins';
@import '../../Scss/variables';
@import '../../Scss/placeholders';



.globalBanner{
  display: flex;
  align-items: center;
  justify-content: center;
  height: 1200px;
 
    width: 100%;
    margin: 0 auto;
    position: relative;
  }
  

.homePicture {
  width: 100%;
  object-fit: cover;
  filter: brightness(110%);
  height: 1200px;
  position: absolute;
  z-index: 1;
}

  
  
    //Presentation
  
    .presentation{
      border-radius: 20px;
      min-width: 500px;
      font-size: 40px;
      font-weight: 700;

      position: absolute;
      z-index: 2;
      right: 12%;
      top: 27%;
    
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      gap: 5px;

      h2{
        margin-top: 20px;
        font-size: 40px;
        font-weight: 700;
        margin-left: 20px;
      }
      
      p{
        margin-left: 20px;
      }

    }

    //gestion de l'accueil si très grand écran (média querie unique, d'où le fait qu'elle soit isolée)
    @media (min-width: 2500px) { 
      .presentation {
        right: 30%;
      }
     }

  
    .helloPresentation {
      color: $terracota;
      font-size: 70px;
      font-weight: bold; 
      margin-left: 20px;
    }
  
    
  
  
    .typeWriterSentence {
      display: flex;
      align-items: center;
      gap: 15px;
      
    }
  
  

  .containerBoutonDecouvrir {
  border: 4px solid $terracota;
  background-color: $terracota;
  position: relative;
  overflow: hidden;
  transition: 0.5s;
  letter-spacing: 1px;
  border-radius: 20px;
  margin: 30px 0px 0px 20px;
  box-shadow: rgba(0, 0, 0, 0.35) 0px 5px 15px;
}

.boutonDecouvrir {
  padding : 20px;
  display: block;
  width: 100%;
  height: 100%;
  font-weight: 700;
  font-size: 18px;
  letter-spacing: 1px;
  text-decoration: none;

    @include boutonDecouvrirMixin(#fff, 
    "../../Assets/urban-sprite.png",
  3000%,
  100%,
  none,
  $terracota);
  cursor: pointer;
  -webkit-animation: ani 0.7s steps(29) forwards;
  animation: ani 0.7s steps(29) forwards;

  &:hover {
   -webkit-animation: ani2 0.7s steps(29) forwards;
   animation: ani2 0.7s steps(29) forwards;
  }
    }


  .calqueBoutonDecouvrir {
    color: #fff;
    text-align: center;
    width: 100%;
    height: 100%;
    font-weight: 700;
    position: absolute;
    padding : 20px;
    font-size: 18px;
    letter-spacing: 1px;
    overflow: hidden;
}

@keyframes ani {
 from {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
 }

 to {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
 }
}

@-webkit-keyframes ani {
 from {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
 }

 to {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
 }
}

@keyframes ani2 {
 from {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
 }

 to {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
 }
}

@-webkit-keyframes ani2 {
 from {
  -webkit-mask-position: 100% 0;
  mask-position: 100% 0;
 }

 to {
  -webkit-mask-position: 0 0;
  mask-position: 0 0;
 }
}





.buttonLine {
      display: flex;
      place-items: center;
      justify-content: center;
      margin: 25px 0px 0px 5px;

      button{
        background: rgba(0, 0, 0, 0.60);
      }
}
  


  .copiedDivDiscord {
    width: 90px;
    height: 90px;
    position: relative;
  }

  .copiedDivDiscord::before {
    content: 'Pseudo Discord Copié';
    position: absolute;
    color: #fff;
    width: 200px;
    text-align: center;
    left: 100px;
    top: 19%;
    font-size: 17px;
    font-weight: 500;
    background-color: $greennode;
    padding: 15px;
    border-radius: 10px;
    animation: softGrindOpacity 2.75s;
  }

  @keyframes softGrindOpacity { 
    0% {
      opacity: 0;
    }
  
    30% {
      opacity: 1;
    }

    70% {
      opacity: 1;
    }

    100%{
      opacity: 0;
    }
  }